@charset "utf-8";
body{overflow-y: scroll;}
#wrap{max-width: 1000px; width: 100%; margin: 0 auto;}
.header{height: 62px; display: flex; justify-content: space-between; align-items: center; width: 100%; position: fixed;top: 0;left: 50%; transform: translateX(-50%); max-width: 1000px; z-index: 99999;}
.scroll{overflow: hidden; height: 100%;}
.fix{border-bottom: 1px solid #ddd;background-color: #fff; z-index: 9999999;}
.logo{width: 74px;height: 62px;}
/* 메뉴버튼 */
.menu-box{width: 40px;height: 25px; cursor: pointer;position: relative; margin-right:15px;}
.menu-box>div{width: 100%;height: 2px;background: gray; position: absolute;left: 0;top: 0; transition: .3s;}
.menu-box .line1{transform: rotate(0deg);}
.menu-box .line2{opacity: 1; top: 50%;}
.menu-box .line3{transform: rotate(0deg); top: 100%;}
.menu-box.add .line1{transform: rotate(-45deg);top:50%}
.menu-box.add .line2{opacity: 0; top: 50%;}
.menu-box.add .line3{transform: rotate(45deg); top: 50%;}
/* 사이드메뉴 */
.side-menu{width: 100%;height: 100%; display:none;background-color: #fff;position: fixed;top:0;left:50%;transition: 0.3s; z-index: 999; transform: translateX(-50%); max-width: 1000px;}
.side-menu.slide{display: block;}
.menu-list{padding: 85px 30px 0;}
.menu-contents>li{ font-size: 35px; text-align: left; font-weight: bold;}
.menu-contents>li>a{display: block; border-bottom: 1px solid #e1e1e1;padding: 15px 0;}
.menu-contents>li>ul{display: none; border-bottom: 1px solid #e1e1e1; overflow: hidden;}
.menu-contents>li>ul li{width: 50%; float: left;}
.menu-contents>li>ul li a{width: 100%; padding:18px 0; display: block; font-weight: 500; font-size: 20px; color: #333;}
/* 사이드메뉴 검색 */
.search{position: fixed; bottom: 82px; width: 100%; height: 70px; background: #f5bd43;max-width: 1000px;}
.search-box{position: relative;padding-right: 96px;}
.search-box button{background:url(../img/search.png) no-repeat; width: 96px;height: 70px; background-size: 96px 70px; position: absolute; top: 0;right: 0;}
fieldset{border: none;}
input{border: none; padding-left: 35px;height: 70px;font-weight: 500; background:none; outline: none; width: 100%; color: #000;}
input::placeholder {color:#000; font-size: 12px;}
input::-ms-placeholder {color:#000;}
input::-webkit-placeholder {color:#000;}
.nav-menu{position: fixed; bottom: 0; width: 100%;height: 82px; background-color: #292929; max-width: 1000px;}
.nav-menu a{float: left; text-align: center; width: 25%; color: #6c6c6c; line-height:82px;}
/* 메인페이지 */
.main-slide{width: 100%;height: 100%;margin-top:62px; position: relative;}
.title{position: absolute;top: 50%; left:50%;transform: translate(-50%,-50%); font-size: 42px; color: #fff; font-weight: bold;}
/* 지역별, 이벤트매장 메뉴 */
.city-menu{display: flex; padding:30px 0;}
.city-menu li{width: 50%; text-align: center;}
.city-menu li a{font-size: 15px; color: #808080;}
.city-menu li.on a{color: #ffbc0d; font-weight: 600; border-bottom: 1px solid #ffbc0d;}
/* 검색 박스 */
.map-search{background: #f8f8f8; padding: 40px 15px; position: relative; margin-bottom: 30px;}
.box-position{position: relative;}
.map-search input{background: #fff; border: 1px solid #ddd; border-radius: 50px; height: 60px; padding-left: 20px;}
.map-search-box button{background:url(../img/color-search.png) no-repeat; width: 70px;height: 60px; background-size: 70px 60px; position: absolute; top: 0;right: 0;}
/* 내위치 버튼 */
.gps-read{display: inline-block; width: 223px; height: 45px; margin-top: 20px;margin-bottom: 40px; background: #ffba29; border-radius: 50px;}
.gps-read span{display: block; padding-left: 15px;font-size: 12px;background: url(../img/map-ico.png) no-repeat 20px 50%; background-size: 20px; font-weight: 600;letter-spacing: -1px;line-height: 45px;}
.timer{color: #da0000; border-bottom: 1px solid #292929;}
/* 맥딜리버리 매장찾기 메뉴 */
.down-menu{position: fixed; bottom: -60px; width: 100%; transition: all .3s; max-width: 1000px;}
.down-menu a{float: left; width: 50%; height: 60px; text-align: center; font-weight: 600; line-height: 60px;color: #fff;}
.down-menu a.delivery{background:#c70006;}
.down-menu a span{width: 100%; padding-left: 40px;position: relative; }
.down-menu a span:before{content:''; position: absolute; top: 50%;left: 0;margin-top: -12px;background:url(../img/downmenu-icon.png) no-repeat 20% 0;  background-size: 25px auto; width: 25px;height: 25px; position: absolute; top: 50%;left: 0;}
.down-menu a.store span:before{background-position: 0 -25px;}
.down-menu a.store{background-color: #264a36;}
/* 푸터 */
.footer{background: #292929;width: 100%;padding: 33px 15px 80px;}
.footer-menu{width: 100%;overflow: hidden; border-bottom: 1px solid #494949; padding-bottom: 14px;}
.footer-menu li{width: 50%; float: left;}
.footer-menu li a{color: #fff; display: block; padding:8px 0; font-weight: 300;}
.footer-menu li:first-child a{color: yellow;}
.footer-info{padding:30px 0; border-bottom: 1px solid #494949; color: #6c6c6c;}
address{padding:30px 0 40px; color: #6c6c6c; display: block; font-style: normal; font-size: 12px;}

